@font-face {
    font-family: 'Xxemeetage';
    src: url('/public/fonts/xxemeetage-regular/xxemeetage-regular.eot');
    src:
        url('/public//fonts/xxemeetage-regular/xxemeetage-regular.eot?#iefix') format('embedded-opentype'),
        url('/public//fonts/xxemeetage-regular/xxemeetage-regular.woff2') format('woff2'),
        url('/public//fonts/xxemeetage-regular/xxemeetage-regular.woff') format('woff'),
        url('/public//fonts/xxemeetage-regular/xxemeetage-regular.ttf') format('truetype'),
        url('/public//fonts/xxemeetage-regular/xxemeetage-regular.svg#Xxemeetage') format('svg');
    font-weight: normal;
    font-style: normal;
}