// Typography
$font-xxemeetage: 'Xxemeetage', sans-serif;

// Font sizes 
$font-size-title: 0.8125rem;
$font-size-text: 0.75rem;
$font-size-hashtag: 0.8125rem;
$font-size-section-title: 1.75rem;
$font-size-mobile-text: 1rem;
$font-size-mobile-text-md: 0.9375rem;

// Line heights
$line-height-auto: normal;
$line-height-text: 0.9375rem;
$line-height-mobile: 1.25rem;

// Colors 
$c-negro: #000000;
$c-blanco: #FFFFFF;
$c-rojo: #FF4B01;

$text-color: c-negro;
$hashtag-color: c-negro;

// Other
$section-border: $c-negro;

// Breakpoints
$breakpoint-md: 768px;

$font-xxemeetage: 'Xxemeetage';